:root {
  --hover-color: #404040;
  font-family: Calibri, Verdana, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  font-family: Calibri, Verdana, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.875rem !important;
}

body {
  //  font-size: 1rem;
  margin: 0;
  background-color: rgb(15, 15, 15);
}

#react-root {
  align-self: center;
}

.home__container {
  margin-top: 11.5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1 1 0;
}

#home {
  background-color: rgb(15, 15, 15);
  margin: 0;
  font-weight: 300;
  min-height: 100dvh !important;
  display: flex;
  flex-direction: column;

  li {
    list-style: none;
  }

  .home__header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4.5dvh;
    padding-bottom: 3dvh;
    text-align: center;

    @media (max-width: 500px) {
      padding-top: 3dvh;
      padding-bottom: 3dvh;
    }

    h1 {
      font-family: 'Times New Roman', Times, serif;
      font-size: 78px;
      user-select: none;
      margin: 0;
      line-height: 0.8;

      @media (max-width: 500px) {
        font-size: 50px;
      }
    }
    h1 a {
      text-decoration: none;
      color: rgb(15, 15, 15);
      font-weight: normal;
    }

    p {
      font-size: 26px;
      color: rgb(15, 15, 15);
      margin: 0;
      line-height: 0.8;
      letter-spacing: 0.01ch;
      text-align: center;
      user-select: none;

      @media (max-width: 500px) {
        font-size: 18px;
      }
    }
  }

  main {
    margin: auto;
    max-width: max-content;
    // background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    // padding-bottom: 8px;
  }

  .home__main {
    flex: 1;
    section {
      display: grid;
      justify-items: center;
    }

    h2 {
      color: #42454b;
      font-weight: bold;
      margin-bottom: 4px;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  footer {
    background-color: white;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 0.9rem;
    margin: auto;
    margin-top: 19px;
    margin-bottom: 0;
    padding: 4px 0px;
    color: rgb(55, 55, 55);
    a {
      color: rgb(15, 15, 15);
      font-weight: normal;
    }
    a:hover {
      color: #8f96a3;
    }
  }

  .home__main a:hover {
    color: #8f96a3;
    text-decoration: none;
  }

  #platoSection {
    display: grid;
    justify-items: center;
    background-color: rgb(15, 15, 15);
    // border: 1px solid #e7e7e7;
    border-top: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    //   padding: 0 5dvw 0 5dvw;
  }

  #platoSection__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
    padding: 0px 0px 1px 0px;
    margin: auto;
    width: 100%;

    .buttonPlato {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      padding: 0.4rem;
      flex: 1;
      background-color: hsl(0, 20%, 95%);
      // width: 110px;
      cursor: pointer;
      border: 0;
      color: black;
    }

    .buttonPlato:first-child {
      // border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .buttonPlato:last-child {
      // border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .chosen {
      font-weight: bold;
      background-color: hsl(0, 40%, 90%);
    }

    .buttonPlato:hover {
      background-color: hsl(0, 40%, 90%);
    }
  }

  #platoSection__text {
    margin-top: 11.5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    background-color: rgb(15, 15, 15);
  }

  .home__plato__layout {
    color: rgb(150, 150, 150);
    // background-color: white;
    font-weight: 300 !important;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    margin-bottom: 9px;
    // border: 1px solid white;
    a {
      // font-weight: bold;
      font-weight: normal;
    }
    ul {
      margin: 0;
      padding: 0;
      margin-top: 4px;
    }
  }

  #home__plato__tetralogy {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(25, auto);
    width: 475px;
    max-width: max-content;
    // border-left: 1px solid #e7e7e7;
    border-radius: 5px;
    // @media (max-width: 340px) {
    //   width: calc(270px + 8dvw);
    // }
    // @media (max-width: 310px) {
    //   width: auto;
    //   grid-auto-flow: row;
    //   grid-template-columns: 1fr;
    //   justify-items: center;
    // }

    li {
      box-shadow: #e7e7e7 0px 0px 0px 0.5px inset;
      // padding: 0.5dvh 0.5dvw;
      // padding: 2px 6px;
      padding: 1px 0;
      text-align: center;
      background-color: white;
      &:hover {
        background-color: #dee3ed !important;
      }
    }
    a {
      color: black;
    }
    .border-top {
      // border-top: 1px solid rgb(15, 15, 15); //border;
    }
    .border-right {
      // border-right: 1px solid rgb(15, 15, 15); //border;
    }
    .border-left {
      // border-left: 1px solid rgb(15, 15, 15); //border;
    }
    h3 {
      margin: 0;
      padding: 0;
      color: white;
      text-align: center;
      padding: 0.7dvh 0.7dvw;
      box-shadow: #e7e7e7 0px 0px 0px 0.5px inset;
      background-color: rgb(15, 15, 15);
    }
    .right-bottom {
      border-bottom-right-radius: 5px;
    }
    .left-bottom {
      border-bottom-left-radius: 5px;
    }
    .left-top {
      border-top-left-radius: 5px;
    }
    .right-top {
      border-top-right-radius: 5px;
    }
  }

  #home__plato__chronology {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: calc(250px + 8dvw);
    // border: 1px solid rgb(15, 15, 15); //border;
    border-bottom: 0;
    border-left: 0;
    border-radius: 5px;
    ul {
      text-align: center;
      padding-left: 0;
      margin: 0;
      &:not(:last-child) {
      }
    }
    h3,
    .pseudo-h3 {
      margin: 0;
      color: white;
      // border-bottom: 1px solid rgb(15, 15, 15); //border;
      // padding: 0.7dvh 0.7dvw;
      font-weight: bold !important;
      padding: 0.5dvh 0.5dvw;
      box-shadow: #e7e7e7 0px 0px 0px 0.5px inset;
      background-color: rgb(15, 15, 15);
    }
    .pseudo-h3 {
      padding: 0.3dvh 0.3dvw;
    }
    a {
      color: black;
    }
    li:not(.pseudo-h3) {
      box-shadow: #e7e7e7 0px 0px 0px 0.5px inset;
      background-color: white;
      // padding: 0.5dvh 0.5dvw;
      padding: 1px 0;
      &:hover {
        background-color: #dee3ed !important;
      }
    }
    li:last-child {
    }
    .border-left {
      // border-left: 1px solid rgb(15, 15, 15); //border;
    }
    .border-bottom {
      // border-bottom: 1px solid rgb(15, 15, 15); //border;
    }

    .top-left {
      border-top-left-radius: 5px;
    }
    .top-right {
      border-top-right-radius: 5px;
    }
    .bottom-left {
      border-bottom-left-radius: 5px;
    }
    .bottom-right {
      border-bottom-right-radius: 5px;
    }
  }

  #home__plato__iamblichus {
    font-size: 0.938rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #272f3f;
    // padding: 5px 10px;
    border-radius: 5px;
    color: rgb(155, 155, 155);
    ul {
      margin: 0;
    }
    .pseudoHeading {
      font-size: 1rem;
    }
    a {
      font-weight: bold;
    }
  }
}

.laertius {
  font-weight: normal;
  text-align: center !important;
}

#sections__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1px;
  gap: 1px;
  padding: 1px 0px;
  margin: auto;
  background-color: rgb(15, 15, 15);
  // border-left: 1px solid white;
  // border-right: 1px solid white;

  .buttonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.4rem 2rem;
    background-color: hsl(220, 20%, 95%);
    // width: 120px;
    cursor: pointer;
    border: 0;
    color: black;

    // @media (max-width: 340px) {
    //   width: 100px;
    // }
    // @media (max-width: 310px) {
    //   width: 90px;
    // }
    // @media (max-width: 280px) {
    //   width: auto;
    //   flex: 1 1 0;
    //   padding: 6px 40px;
    // }
  }
  // .buttonSection:first-child {
  // border-top-left-radius: 5px;
  // border-bottom-left-radius: 5px;
  // }
  // .buttonSection:last-child {
  // border-top-right-radius: 5px;
  // border-bottom-right-radius: 5px;
  // }

  .chosen {
    font-weight: bold;
    background-color: hsl(220, 40%, 90%);
  }

  .buttonSection:hover {
    background-color: hsl(220, 40%, 90%);
  }
}
