:root {
  --hover-color: #404040;
  font-family: Calibri, Verdana, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  /* font-size: 1rem; */
  font-size: 0.938rem;
  margin: 0;
}

.textPage {
  background-color: white;
  a:hover {
    color: var(--hover-color);
  }

  // .mainContainerContainer {
  //   display: grid;
  //   justify-content: center;
  //   max-width: 98dvw;
  // }

  main {
    display: grid;
    grid-auto-flow: column;
    line-height: calc(1.2em + 0.1dvw);
    margin-bottom: 8px;
    padding-top: 12px;
    max-width: 1121px;
    margin: auto;
    grid-template-columns: 50%;
    overflow-x: auto;
    &:not(:is(.mainNoBorders *, .mainVerses *)) p {
      text-indent: 3% each-line;
    }

    @media (min-width: 1400px) {
      &.hasNumbers {
        max-width: 1161px;
      }
    }

    @media (max-width: 1200px) {
      margin-left: 6dvw;
      margin-right: 3dvw;
    }
    @media (max-width: 1100px) {
      margin-left: 4dvw;
      margin-right: 2dvw;
    }
    @media (max-width: 900px) {
    }
    // @media (max-width: 750px) {
    //   &.hasNumbers {
    //     grid-template-columns: 1fr min-content 1fr !important;
    //   }
    // }
    @media (max-width: 550px) {
      max-width: 700px !important;
      grid-template-columns: 300px 300px !important;
      &.hasNumbers {
        grid-template-columns: 300px min-content 300px !important;
      }
    }

    &:is(.center *) {
      margin: auto !important;
      max-width: 1200px;
      @media (max-width: 1400px) {
        max-width: 95%;
      }
    }

    p {
      padding-left: 5px;
      padding-right: 3px;
      @media (min-width: 1400px) {
        padding-left: 5px;
        padding-right: 8px;
      }
      @media (max-width: 700px) {
        padding-left: 3px;
        padding-right: 3px;
        overflow-wrap: break-word;
        hyphens: auto;
      }
      @media (max-width: 600px) {
        overflow-wrap: anywhere;
      }
      &:is(.hasNumbers *) {
        padding-left: 0px;
        padding-right: 0px;
      }
      &.number {
        text-align: center;
        padding-left: 4px !important;
        padding-right: 4px !important;
        @media (min-width: 1400px) {
          padding-left: 10px !important;
          padding-right: 15px !important;
        }
        @media (max-width: 840px) {
          max-width: 40px;
        }
      }
    }

    // .number {
    //   padding: 20px;
    //   min-width: 33px !important;
    //   height: 5px;
    // }

    img {
      max-width: 25dvw;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1px;
      margin-bottom: 2px;
      border-bottom: 1px solid rgb(93, 93, 93);
      padding-bottom: 3px;
    }

    h1 {
      font-size: 1.313rem;
      text-align: center;
      padding: 5px;
    }

    h2 {
      font-size: 1.25rem;
      text-align: center;
      margin-top: 3px;
      padding: 2px;
    }

    h3 {
      font-size: 1.063rem;
      text-align: center;
      margin-top: 2px;
      padding: 2px;
    }

    h4,
    h5,
    h6 {
      margin-top: 2px;
      padding: 1px;
      font-size: 1.063rem;
      text-align: center;
    }

    /* magicTrick */
    .endOfColumn1 ~ * {
      grid-column: 2;
    }

    .endOfNumbers ~ * {
      grid-column: 3;
      // padding-left: 0px;
    }

    .endOfColumn {
      border-bottom: none;
      padding: 0;
      margin: 0;
    }

    p:has(+ .endOfColumn) {
      border-bottom: none;
    }

    /* special text */
    .epigraph {
      text-align: right;
      display: block;
      margin-right: 5px;
    }

    .miniHeading {
      display: block;
      background-color: #dee3ed;
      border: 1px ridge rgb(15, 15, 15);
      border-radius: 5px;
      text-align: center;
      padding: 1px 0px;
    }

    .dichtung {
      padding-bottom: 0;
      border-bottom: none;
    }

    .verses {
      white-space: pre-line !important;
    }

    .spanIndented {
      display: block;
      padding-left: 1rem;
    }

    .spanIndentedBig {
      display: block;
      padding-left: 2rem;
    }

    .spanHeading {
      background-color: #111213;
      color: white;
      // border: 1px solid rgb(15, 15, 15);
      // border-radius: 5px;
      text-align: center;
      // padding: 1px 0px;
      display: block;
      font-weight: bold;
    }

    .spanHeading2 {
      display: block;
      background-color: #dee3ed;
      // border: 1px ridge rgb(15, 15, 15);
      // border-radius: 5px;
      text-align: center;
      // padding: 1px 0px;
      font-weight: bold;
      // width: fit-content;
      // max-width: 70%;
      // padding: 0px 7dvw;
      // justify-self: center;
    }

    .spanHeading2:not(span + *) {
      margin-top: 6px;
    }

    .spanHeading + span {
      border-top: none;
      // border-radius: 0 0 5px 5px;
      // padding: 0;
    }

    .spanHeading:has(+ .spanHeading2) {
      // border-radius: 5px 5px 0 0;
    }

    .spanHeading:not(:first-child) {
      margin-top: 8px;
    }

    .spanHeading2:first-child {
      margin-top: 0;
    }

    .bigBlank {
      display: block !important;
      margin-bottom: 0.4rem !important;
    }

    /* annotations
.annotations {
    
} */

    .popUp {
      font-size: 0.875rem;
    }

    .popUp a {
      position: relative;
      display: inline;
      cursor: pointer;
      color: rgb(55, 55, 55);
      text-decoration: underline;
      vertical-align: super;
      font-size: smaller;
      line-height: 1em;
    }

    .popUp a:hover {
      color: rgb(88, 88, 88);
    }

    .popUp:hover .popUpText {
      display: block;
    }

    .popUpText {
      line-height: 1.3;
      font-size: 0.813rem;
      width: max-content;
      max-width: 40dvw;
      background-color: white;
      position: absolute;
      border: 1px solid rgb(15, 15, 15);
      padding: 5px 3px;
      display: none;
      color: rgb(15, 15, 15);
      font-weight: normal;
      text-align: center;
      z-index: 3;
    }

    .annoContent {
      background-color: #f1f3f9;
      padding: 6px 9px !important;
      margin-bottom: 0;
    }
    @supports (-webkit-appearance: none) {
      .annoContent {
        padding: 6px 22px !important;
      }
    }

    .annoContent a {
      color: rgb(55, 55, 55);
    }

    .annoContent a:hover {
      color: rgb(88, 88, 88);
    }

    .hide ~ * {
      display: none;
    }

    .show ~ * {
      display: block;
    }

    .hideFurther ~ * {
      display: none;
    }
  }

  header {
    background-color: rgb(15, 15, 15);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.484);
    margin-bottom: 15px;

    .titleAndAuthor {
      display: grid;
    }

    .header__title {
      font-size: 1.125rem;
      color: white;
      margin: 0;
      text-align: right;

      @media (max-width: 470px) {
        font-size: 0.938rem;
      }
    }

    .header__translator {
      font-size: 0.938rem;
      // font-style: italic;
      color: white;
      margin: 0;
      font-weight: 300;
      text-align: right;

      @media (max-width: 470px) {
        font-size: 0.813rem;
      }
    }

    .header__ap {
      font-family: 'Times New Roman', Times, serif;
      font-size: 3rem;
      grid-column: 2;
      grid-row: 1 / 3;
      user-select: none;
      margin: 0;
      padding-right: 2.5dvw;
      padding-left: 10px;
      font-weight: normal;

      @media (max-width: 470px) {
        padding-left: 6px;
        font-size: 2.5rem;
      }
    }

    .header__ap a {
      text-decoration: none;
      color: white;
    }

    .header__ap a:hover {
      color: var(--hover-color);
    }
  }

  footer {
    margin-top: 18px;
    p {
      bottom: 0;
      text-align: center;
      font-size: 0.938rem;
      margin: 0;
      background-color: rgb(15, 15, 15);
      margin-bottom: 0;
      color: rgb(15, 15, 15);
      padding: 5px 0px;
      color: var(--hover-color);
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.textPage.mainVerses main {
  margin: 10px;
  align-self: center;
  max-width: 700px;

  @media (max-width: 550px) {
    max-width: 700px !important;
    align-self: unset;
    grid-template-columns: 300px 300px !important;
    &.hasNumbers {
      grid-template-columns: 400px min-content 400px !important;
    }
  }
}

.textPage.mainNoBorders_narrow main {
  margin: 10px;
  align-self: center;
  max-width: 670px;

  @media (max-width: 550px) {
    max-width: 700px !important;
    align-self: unset;
    grid-template-columns: 330px 330px !important;
    &.hasNumbers {
      grid-template-columns: 400px min-content 400px !important;
    }
  }

  p:not(:has(+ h1, + h2, + h3, + h4, + h5)):not(.spanHeading, .spanHeading2) {
    margin-bottom: 0 !important;
    border-bottom: none !important;
    line-height: calc(1.2em + 0.01dvw);
  }
}

.textPage.mainNoBorders_wide main {
  margin: 10px;
  align-self: center;
  max-width: 900px !important;

  @media (max-width: 550px) {
    align-self: unset;
    grid-template-columns: 390px 390px !important;
    &.hasNumbers {
      grid-template-columns: 400px min-content 400px !important;
    }
  }

  p:not(:has(+ h1, + h2, + h3, + h4, + h5)):not(.spanHeading, .spanHeading2) {
    margin-bottom: 0 !important;
    border-bottom: none !important;
    line-height: calc(1.2em + 0.01dvw);
  }
}

.textPage {
  display: flex;
  flex-direction: column;
}

.textPage.main0Borders main {
  margin-left: 25px;
  margin-right: 10px;
  align-self: center;
  max-width: 800px !important;

  @media (max-width: 550px) {
    margin: 0 10px;
    align-self: unset;
    max-width: 800px !important;
    grid-template-columns: 360px 360px !important;
    &.hasNumbers {
      grid-template-columns: 320px min-content 420px !important;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0 !important;
    border-bottom: none !important;
    line-height: calc(1.2em + 0.01dvw);
  }

  .number:not(.heading) {
    // align-self: end;
  }
  .annoContent {
    max-width: 400px;
  }
}

.commonRow {
  grid-column: 1 / span 2 !important;
  max-width: 400px;
  margin: auto;
  // background-color: #f1f3f9;
  padding: 0px 15px 3px 15px !important;
  span {
    margin: 3px 3px 5px 3px;
  }
}
