:root {
  --hover-color: #404040;
  font-family: Spectral, Verdana, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 1.0625rem;
}

body {
  margin: 0;
  background-color: rgb(15, 15, 15);
}

#react-root {
  align-self: center;
}

.home__container {
  align-self: center;
  display: flex;
  flex-direction: column;
}

#home {
  background-color: rgb(15, 15, 15);
  margin: 0;
  font-weight: 300;
  height: 100dvh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  li {
    list-style: none;
  }

  .home__header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4.5dvh;
    padding-bottom: 3dvh;
    text-align: center;

    @media (max-width: 500px) {
      padding-top: 3dvh;
      padding-bottom: 3dvh;
    }

    h1 {
      font-family: 'Times New Roman', Times, serif;
      font-size: 78px;
      letter-spacing: -0.5px;
      user-select: none;
      margin: 0;
      line-height: 0.8;

      @media (max-width: 500px) {
        font-size: 50px;
      }
    }
    h1 a {
      text-decoration: none;
      color: rgb(15, 15, 15);
      font-weight: normal;
    }

    p {
      font-size: 26px;
      color: rgb(15, 15, 15);
      margin: 0;
      line-height: 0.8;
      letter-spacing: 0.01ch;
      text-align: center;
      user-select: none;

      @media (max-width: 500px) {
        font-size: 18px;
      }
    }
  }

  .home__main {
    margin-bottom: auto;
    margin-top: 1dvh !important;
    .blank {
      flex: 1;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  footer {
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    margin: auto;
    margin-top: 19px;
    margin-bottom: 0;
    padding: 4px 0;
    color: rgb(55, 55, 55);
    a {
      color: rgb(15, 15, 15);
      font-weight: normal;
    }
    a:hover {
      color: #8f96a3;
    }
  }

  .home__main a:hover {
    color: #8f96a3 !important;
    text-decoration: none;
  }
}

.mail {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
