#home {
  input[type='checkbox'] {
    display: none;
    appearance: none;
  }

  .collapsibleItem {
    cursor: pointer;
    text-transform: uppercase;
  }

  .collapsibleItem::before,
  .collapsibleItem::after {
    content: url('data:image/svg+xml; utf8, <svg width="10px" height="10px" viewBox="-3 -3 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 17.898C9 18.972 10.2649 19.546 11.0731 18.8388L17.3838 13.3169C18.1806 12.6197 18.1806 11.3801 17.3838 10.6829L11.0731 5.16108C10.2649 4.45388 9 5.02785 9 6.1018V17.898Z" fill="%23212121"/></svg>');
    filter: brightness(3) invert(1);
    display: inline-block;
    margin-right: 1px;
    user-select: none;
    transition: 100ms ease;
  }

  .collapsibleItem::after {
    content: url('data:image/svg+xml; utf8, <svg width="10px" height="10px" viewBox="1 -3 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 17.898C15 18.972 13.7351 19.546 12.9268 18.8388L6.61617 13.3169C5.81935 12.6197 5.81935 11.3801 6.61617 10.6829L12.9268 5.16108C13.7351 4.45388 15 5.02785 15 6.1018L15 17.898Z" fill="%23212121"/></svg>');
  }

  .collapsibleItem:hover::before,
  .collapsibleItem:hover::after {
    filter: brightness(3) invert(1);
  }

  .collapsibleItem:has(> input[type='checkbox']:checked)::before {
    transform: rotate(90deg);
  }

  .collapsibleItem:has(> input[type='checkbox']:checked)::after {
    transform: rotate(-90deg);
  }

  .collapsibleItem ~ ul {
    display: none;
    margin: 0;
    padding: 0;
  }

  .collapsibleItem:has(> input[type='checkbox']:checked) ~ * {
    display: block;
  }

  .main-spoiler {
    color: grey;
    margin-bottom: 10px;
    display: inline;
    user-select: none;
    font-weight: normal;
  }

  li .collapsible {
    color: grey;
  }

  .donate__link {
    display: block;
    margin-top: 1px;
    margin-bottom: 5px;
    color: grey;
  }

  .donate:hover .donate__link {
    text-decoration: underline;
  }
}
